<section>
    <div class="holding">
        <span>
            <h1>Discover Wallace County</h1>

        </span>
    </div>
    <div class="image keith"></div>
    <div class="holding"></div>
    <div class="image cowboy"></div>
    <div class="holding"></div>
    <div class="image train"></div>
    <div class="holding"></div>
    <div class="image bucking"></div>
    <div class="holding"></div>
    <div class="image flag"></div>
    <div class="holding"></div>
    <div class="image westernRR"></div>
    <div class="holding"></div>
    <div class="image rearing"></div>
    <div class="holding"></div>
    <div class="image elevator"></div>
    <div class="holding"></div>

</section>