<app-parallax></app-parallax>

<nav>
    <ul>
        <li>Schedule</li>
        <li>Maps</li>
        <li>Vendors</li>
        <li>First Aid</li>
        <li>Sponsors</li>
        <li>Volunteer/Activity Registration</li>
        <li><a routerLink="app-history">History</a></li>
        <li>Discover Wallace County</li>
    </ul>
</nav>


<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="../assets/images/calendar.svg" alt="">
            Schedule
        </ng-template>
        <p>This is where I would put my schedule if I had one. </p>

    </mat-tab>
    <mat-tab label="Maps">
        <ng-template mat-tab-label>
            <img src="../assets/images/pinDrop.svg" alt="">
            Maps
        </ng-template>
       
       <app-maps></app-maps>

    </mat-tab>
</mat-tab-group>




<router-outlet></router-outlet> 