<section>
    <div id="mapUnavailable">
        <p>Map Unavailable at this time.</p>
    </div>
<div id="interactive-fair-map-background">
    <img src="../../assets/images/aerialFairGrounds2.jpeg" alt="">

    <div class="attractions-icon" id="bullet">
        <img src="../../assets/images/attractionsIcon.svg" alt="">
        <p class="bulletLabel label">The Bullet</p>
    </div>

    <div class="attractions-icon" id="helicopters">
        <img src="../../assets/images/attractionsIcon.svg" alt="">
        <p class="helicoptersLabel label">Helicopters</p>
    </div>

    <div class="attractions-icon" id="bigFerris">
        <img src="../../assets/images/attractionsIcon.svg" alt="">
        <p class="bigFerrisLabel label">Big Ferris</p>
    </div>

    <div class="attractions-icon" id="tiltAWhirl">
        <img src="../../assets/images/attractionsIcon.svg" alt="">
        <p class="tiltAWhirlLabel label">Tilt-A-Whirl</p>
    </div>

    <div class="attractions-icon" id="roundUp">
        <img src="../../assets/images/attractionsIcon.svg" alt="">
        <p class="roundUpLabel label">Round Up</p>
    </div>

    <div class="attractions-icon" id="rollerCoaster">
        <img src="../../assets/images/attractionsIcon.svg" alt="">
        <p class="rollerCoasterLabel label">Roller Coaster</p>
    </div>

    <div class="attractions-icon" id="scrambler">
        <img src="../../assets/images/attractionsIcon.svg" alt="">
        <p class="scramblerLabel label">Scrambler</p>
    </div>

    <div class="attractions-icon" id="merryGoRound">
        <img src="../../assets/images/attractionsIcon.svg" alt="">
        <p class="merryGoRoundLabel label">Merry-Go-Round</p>
    </div>

    <div class="attractions-icon" id="boats">
        <img src="../../assets/images/attractionsIcon.svg" alt="">
        <p class="boatsLabel label">Boats</p>
    </div>

    <div class="attractions-icon" id="kiddieFerris">
        <img src="../../assets/images/attractionsIcon.svg" alt="">
        <p class="kiddieFerrisLabel label">Kiddie Ferris Wheel</p>
    </div>

    <div class="attractions-icon" id="kiddieTrain">
        <img src="../../assets/images/attractionsIcon.svg" alt="">
        <p class="kiddieTrainLabel label">Kiddie Train Coaster</p>
    </div>

    <div class="attractions-icon" id="cars">
        <img src="../../assets/images/attractionsIcon.svg" alt="">
        <p class="carsLabel label">Cars</p>
    </div>

    <div class="attractions-icon" id="westernRailroad">
        <img src="../../assets/images/attractionsIcon.svg" alt="">
        <p class="westernRailroadLabel label">Western Railroad Train</p>
    </div>

   

</div>
</section>
