<p>The following is the height restrictions for the amusement rides.
    These guidelines are set up by the manufacture of the rides.
    ALL KID RIDES:
    NO HEIGHT RESTRICTIONS:
    All kids may ride alone-discretionary to operator or parent
    Small Ferris Wheel
    Boats
    Cars
    Fire Trucks
    Merry Go Round
    Helicopters
    Roller Coaster
    Adult MAY ride along to help the child
    Merry-go-round
    Helicopter
    Roller Coaster
    ALL ADULT RIDES: 
    Height posts will be at each ride for measuring 
    Under 36” (3’) SHALL NOT ride
    Min of 36” (3’) SHALL ride with an adult
    46” and over MAY ride alone
    Scrambler 
    Bullet
    Large Ferris Wheel
    Tilt-A-Whirl
    There are to be NO kids allowed on laps for any of the adult rides.
    NO HEIGHT RESTRICTIONS:
    TRAIN - your child may ride on your lap.</p>

    <p>The first Fort Wallace Memorial Association held its first Rodeo in 1954; this makes it the longest continually-running rodeo in Kansas.</p>